aws_region   = "us-east-1"
project_name = "tienda"
environment  = "ecs"

vpc_cidr        = "10.42.0.0/16"
azs             = ["us-east-1a", "us-east-1b"]
private_subnets = ["10.42.1.0/24", "10.42.2.0/24"]
public_subnets  = ["10.42.101.0/24", "10.42.102.0/24"]

image_tag = "ecs-v1"

frontend_desired_count = 2
backend_desired_count  = 2
db_desired_count       = 1
