# frontend
#!/bin/bash
apt update && apt install -y docker.io docker-compose-v2
systemctl start docker
systemctl enable docker
usermod -aG docker ubuntu
newgrp docker

docker pull <dockerhub_user>/actividad4-frontend:latest
docker run -d --name frontend -p 80:80 -e BACKEND_HOST=${backend_ip} <dockerhub_user>/actividad4-frontend:latest

# backend
#!/bin/bash
apt update && apt install -y docker.io docker-compose-v2
systemctl start docker
systemctl enable docker
usermod -aG docker ubuntu
newgrp docker

docker pull <dockerhub_user>/actividad4-backend:latest
docker run -d --name backend -p 3000:3000 -p 80:80 -p 443:443 -e DATABASE_URL="${database_url}" <dockerhub_user>/actividad4-backend:latest

# database
#!/bin/bash
apt update && apt install -y docker.io docker-compose-v2
systemctl start docker
systemctl enable docker
usermod -aG docker ubuntu
newgrp docker

docker pull <dockerhub_user>/actividad4-database:latest
docker run -d --name database -p 5432:5432 -e POSTGRES_USER=${postgres_user} -e POSTGRES_PASSWORD=${postgres_password} -e POSTGRES_DB=${postgres_db} <dockerhub_user>/actividad4-database:latest
