# Environment files
.env
.env.local
.env.*.local

# Secrets
*.pem
*.key
credentials.json

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


default-projects-develop-kp.pem